h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 80px;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: bold; /* Make font bold */
    margin-top: 0; /* Remove default margin */
    color: rgb(255, 255, 255);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('background.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 40px; /* Increased padding */
    animation: slideDown 1s forwards;
    opacity: 0;
    width: 400px; /* Increased width */
    text-align: center; /* Center text horizontally */
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Align label text to the left */
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Increased font size */
    margin: 0 auto; /* Center input elements horizontally */
}

input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
    margin: 0 auto; /* Center submit button horizontally */
}
